<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends</title>
    {% load static %}
    <link rel="stylesheet"type="text/css"
          href="{% static 'MyApp/style.css' %}"/>
</head>
<body>
    <div>
        <h1>Stannis Baratheon`s Friends</h1>

        <img src="{% static 'MyApp/img/670523-game-of-thrones-stannis-baratheon-stags-house-baratheon.jpg' %}" />
        <h4>His owm House</h4>

        <img src="{% static 'MyApp/img/707-Kings-Landing-Dragonpit-Davos-2.jpg' %}" />
        <h4>Davos Sivort, His Right Hand</h4>
    </div>

</body>
</html>