<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заголовок страницы</title>
    <link rel="stylesheet"type="text/css"
          href="{% static 'MyApp/style.css' %}"/>
</head>
<body>
    <p><i>I am so lonely. All the other Viltrumites are scared of me. No one talks to me. No one wants to be my friend. They think I am unstable. They send me from planet to planet, committing atrocities in their name. And as i get better at it they fear me more and more. I am a victim of my own success. Conquest. I don't even get a real name. Only a purpose. I am capable of so much more and no one sees it. Some days I feel so alone I could cry, but I don't. I never do. Because what would be the point. Not a single person in the entire universe would care. Take it to your grave.</i> <b>- Conquest</b></p>

</body>
</html>