<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interesting facts</title>
    {% load static %}
    <link rel="stylesheet"type="text/css"
          href="{% static 'MyApp/style.css' %}"/>
</head>
<body>
    <div>
        <h1>Critical reception</h1>
        <p><i>The English actor Stephen Dillane has received positive reviews for his performance as Stannis Baratheon, especially in the fifth season. 
            On her review for "Sons of the Harpy", Sarah Hughes of The Guardian wrote, "Stephen Dillane has always been wonderful at showing us the core of this rigid, complex man." 
            His performance on the same episode also received positive reviews from Vulture.
            Harri Sargeant of Hypable wrote, <b>"Stephen Dillane has always been one of the classiest actors on the show, and his last moments as the King Who Almost Was saw as commanding a performance as ever."</b>
            In her review for "Mother's Mercy", Meghan O'Keefe of Decider wrote, <b>"Whether you like Stannis or not, you have to admit that Stephen Dillane delivered a monumental performance this season."</b>
            Cindy Davis of Pajiba wrote <b>"After Shireen's seemingly pointless death, it's a testament to Stephen Dillane's phenomenal skills that we could feel anything at all for a man who watched his daughter burned alive."</b>
            Nick Steinberg of Goliath wrote, <b>"Credit has to go to Stephen Dillane for his performance, especially in these last few episodes where he's had to convey a form of grim tragedy that's effectively conveyed the character's downfall."</b>
            For his part, Dillane expressed misgivings about his performance, telling The Times newspaper, <b>"I didn't know what I was doing until we'd finished filming and it was too late. The damage had been done. I thought no one would believe in me and I was rather disheartened by the end. 
            I felt I'd built the castle on non-existent foundations.”</b></i></p>
    </div>

</body>
</html>