<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Person</title>
    {% load static %}
    <link rel="stylesheet"type="text/css"
          href="{% static 'MyApp/style.css' %}"/>
</head>
<body>
    <div>
        <h1>Stannis Baratheon</h1>
        <h3><i>The True King of Westeros</i></h3>
        <img src="{% static 'MyApp/img/wp6978307.jpg' %}" />
        <p><i>Stannis Baratheon is the younger brother of King Robert and older brother of Renly. He is portrayed as a brooding and humorless man with a harsh but fair sense of duty and justice whose dour demeanor is often off-putting in comparison to his two more charismatic brothers. He is renowned as a skilled and prescient military commander. Although he is initially said to be extremely stubborn and inflexible, in later books he has shown some ability to use diplomacy and deception to achieve his goals.</i></p>
    </div>

</body>
</html>